.postContainer {
  margin: 10px;
  display: flex;
  border: 2px var(--accent) solid;
  max-width: 400px;
  padding: 5px;
}

.postContent {
  width: 100%;
}
.media-link {
  text-decoration: underline;
  color: var(--accent-secondary);
}
.media-link:hover {
  color: var(--accent);
}
.post-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.post-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 0.85rem;
  width: 100%;
}

.timeago {
  justify-self: flex-end;
  color: var(--background-secondary);
}

.post-image,
video {
  max-width: 100%;
}

.post-score {
  color: var(--background-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5px;
  min-width: 3ch;
}
.post-footer {
  color: var(--background-secondary);
  display: flex;
  justify-content: space-between;
}

.postContainer a,
.postContainer a:hover,
.postContainer a:visited {
  text-decoration: none;
  color: var(--background-secondary);
}
