.filter-bar {
  margin: 10px;
  display: flex;
  border: 2px var(--accent) solid;
  max-width: 400px;
  padding: 5px;
  color: var(--background-secondary);
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 0.65rem;
  font-variant-caps: all-small-caps;

  color: var(--accent-secondary);
}
.icon:hover {
  cursor: pointer;
}

.selected .title {
  color: var(--background-secondary);
}

.selected .icon {
  color: var(--accent-secondary);
}
